@charset "utf-8";
/* @import url("https://www.clien.net/service/css/font-Noto.css"); */
body[data-font="1"],
body[data-font="1"] *{ font-family: '돋움', sans-serif ; }
body[data-font="2"],
body[data-font="2"] *{ font-family: '맑은 고딕', sans-serif ; }
body[data-font="3"],
body[data-font="3"] *{ font-family: 'Noto Sans KR', sans-serif ;}
body,
body *{ font-family: '맑은 고딕', sans-serif ; font-size:13px; line-height: 1.5; }

html #logo{ height: 60px; padding: 0px 0px 0px 23px; margin-top: -4px;}
html #logo img{ height: 100%; width: auto; }
html #searchWrap{ padding: 7px 0 0 20px; }
html #header #main-ad{height: 50px;z-index: -1; position: relative; overflow: hidden;}
html #top_popkwd{top: 54px; left: 20px;}

html #gnb li{position: relative; }
html #gnb li::before{width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;font-size: 14px;font-weight: 700;color: #ffffff;content: "";text-transform: capitalize;box-sizing: border-box;padding-bottom: 4px;display: none;}
html #gnb li.community{ margin: 0 1px 0 5px;}
html #gnb li.community::before{content:"community";}
html #gnb li.community .sub{ width: 250px; }
html #gnb li.forum{}
html #gnb li.forum::before{content:"forum";}
html #gnb li.forum .sub{ width: 630px; }
html #gnb li.gallery{}
html #gnb li.gallery::before{content:"gallery";}
html #gnb li.gallery .sub{}
html #gnb li.information{}
html #gnb li.information::before{content:"information";}
html #gnb li.information .sub{ width: 260px; }
html #gnb li.market{}
html #gnb li.market::before{content:"market";}
html #gnb li.market .sub{ width: 250px; }
html #gnb li.slrmall{}
html #gnb li.slrmall::before{content:"slrmall";}
html #gnb li.slrmall .sub{}
html #gnb li.event{}
html #gnb li.event::before{content:"event";}
html #gnb li.event .sub{}
html #gnb .sub{top: 38px;}





#setBlockUser:hover{background-color: rgb(139, 165, 193); cursor: pointer;}
#bbs_list .list_name .block_user,
#bbs_view_head .nick .block_user,
#rewview_list .cname+.block_user{color: #f14a00; font-size: 11px; line-height: 1;}
#rewview_list .cname{border: transparent solid 1px; border-radius: 4px; padding: 2px 5px;margin-left: -7px;}
#rewview_list .cname:empty{display: none;}
#rewview_list .cname+.block_user{margin-left: 3px; }
#bbs_view_head .nick .block_user{display: inline-block; margin-left: 4px;}
#rewview_list .block_user.box{color: #f14a00; font-size: 11px; position: absolute; left:0px; right:0px; top:0px; bottom:0px; z-index: 1; background: #def3ff; padding: 25px;}
/* #rewview_list li.isHide+li.reply{display: none;}
#rewview_list li.isHide+li.reply+li.reply{display: none;} */

#bbs_list tr td.list_name.isMemo{padding: 3px 0px; position: relative; line-height: 1.1;}
#post_hd{ margin-bottom: 10px;border-bottom: #e8e8e8 solid 1px; padding: 0px 0px 6px 0px;}
#post_hd .link{display: flex; justify-content: space-between; width: 100%; }
#post_hd .name{}
#post_hd .more{}

#recent_post{border: #e8e8e8 solid 1px; margin: 10px 0px 20px 0px; padding: 10px 10px 10px 10px;}
#recent_post>table{width: 100%;table-layout: fixed;}
#recent_post>table thead{}
#recent_post>table thead.blist_head{display: none;}
#recent_post>table thead th.tit_num{display: none;}
#recent_post>table thead th.tit_name{display: none;}
#recent_post>table thead th.tit_vote{display: none;}
#recent_post>table thead th.tit_click{display: none;}
#recent_post>table tbody{}
#recent_post>table tbody td{padding: 2px;}
#recent_post>table tbody td .reply_icon,
#recent_post>table tbody td .li_ic{margin-right: 4px;}
#recent_post>table tbody td.sbj{ white-space: nowrap; overflow: hidden; width: calc(80%); text-overflow: ellipsis;}
#recent_post>table tbody td.sbj a:visited { color: #955baf; }
#recent_post>table tbody td.list_date{text-align: right;}
#recent_post>table tbody td.list_num{font-size:11px; white-space: nowrap;}
#recent_post>table tbody td.list_num .cate{display: flex; justify-content: center; align-items: center; background: #dddddd99; border-radius: 3px;}
#recent_post>table tbody td.list_name{display: none;}
#recent_post>table tbody td.list_vote{display: none;}
#recent_post>table tbody td.list_click{display: none;}
#recent_post>table tbody tr:nth-child(5)~tr{display: none;}

#post_comment .rewrite_box { width: calc(100% - 226px);}
#post_comment .rewrite_box textarea, 
#cmtrep .rewrite_box textarea{resize: vertical; min-height: 73px; height: 73px; max-height: 600px; outline: none; border-radius: 3px; line-height: 1.2;}
#post_comment .rewrite_box, 
#cmtrep .rewrite_box{border-radius: 3px;}
#post_comment .rewrite_box:focus-within, 
#cmtrep .rewrite_box:focus-within{border-color: #999999;}


/*  */
html .slrbbs #section1 .menu{border: #e8e8e8 solid 1px;}
html #userct,
html .userct{border: transparent solid 1px;margin: 12px 0px 0px 0px;padding: 20px;}
html #userct img,
html .userct img {  margin-left: 0px; }

html #gnbBtmWrap #login_area{display: flex; align-items: center;}
html #gnbBtmWrap #login_area span{line-height: 1;}
html #gnbBtmWrap #login_area span a{line-height: 1;}
html #gnbBtmWrap #login_area span.xmemo img{padding-top: 0;}
html #bbs_search ul#searchBox>*, #bbs_search2 ul#searchBox2>*{width: auto;}
html .paging *{ vertical-align: middle; }
html #bbs_foot .paging  tr td.list_num{padding-bottom: 5px;line-height: 1;}
html #section1 li { padding: 5px 0 5px 10px; }
html #section1 li.highlight {background: #2f85da;margin: 0px -1px; width: 94%;}
html #section1 li:last-child{border-bottom-width: 0px;}

html #bbs_list{border: #e8e8e8 solid 1px;border-collapse: separate;}
html #bbs_list thead th{padding: 7px 0px;border-bottom: #e8e8e8 solid 1px;}
html #bbs_list tr td{border-bottom: #e8e8e8 solid 1px;}
html #bbs_list .tit_num,
html #bbs_list .list_num{width: 70px;}
html #bbs_list .sbj{padding: 8px 5px 8px 8px;}
html #bbs_list tr:last-child td{border-bottom-width: 0px;}


html #slrch p{padding: 12px 12px 12px 12px;margin-top: 10px;}
html #slrch .hotbtn { top: 10px; right: 10px; }
html #submenu_ct li{height: 18px;}
html #submenu_ct li.target{height: 19px;}
html #submenu_ct{background-position-y: 5px;}

html #bbs_foot{margin-top: 20px;}
html #slrct .notice{border: transparent solid 1px; padding: 6px 12px 6px 12px;margin: -1px 0px 12px 0px;}
html #bbs_view_head {border: transparent solid 1px; border-collapse: separate;}
html #bbs_view_head th { width: 70px; font-size:12px;}
html #bbs_view_head tr:last-child th,
html #bbs_view_head tr:last-child td{border-bottom-width: 0px;}
html #bbs_view_head .date { width: 150px; }
html #su ul{width: 130px;}


html #cmt_spinner,
html #cmtw_spinner{margin: auto;}
html #rewview_list .list li{border: 1px solid transparent;margin-top: 12px;position: relative;padding: 16px 20px;}
html #rewview_list .list li.reply{margin-left: 30px;padding-left: 20px;margin-top: 5px;overflow: visible;}
html #rewview_list .list li.reply::before{content:"";width: 12px;height: 12px;position: absolute;left: -22px;top: 6px;background: url("https://media.slrclub.com/main/2012/bbs/icon_cmt_re.gif") no-repeat;}
html #rewview_list .list li.reply::after{content:"";clear: both;display: table;}
html #rewview_list .reply .re_prtnm{}
html #rewview_list .reply .re_prtnm::before{content: "@";font-size: 12px;color: #4f4f4f;}

html .cmt-btngrp span{font-size:12px; display: flex; gap: 5px;}
html .cmt-btngrp{display: flex; gap: 5px;}
html #cmtinput_ct {}
html .cmt-contents{margin-left: 0px;}
html .cmt-contents .cmtbt_ct{margin-left: 10px;}
html #rewview_list .reply .cmt-contents{margin-left: 0px;}
html #rewview_list .cmt-btns.tit_reply{font-size:12px; line-height: 1;}
html #rewview_list .info-wrap{position: relative;}
html #rewview_list .reply .info-wrap{background: none;padding: 0px;height: auto; position: relative;}
html .rewrite_box{width: calc(100% - 226px);}
html .reply .rewrite_box{width: calc(100% - 242px);}
html #cmtrep .rewrite_box textarea{width: 100%;}
html .rewrite_box textarea{width: 100%;}

html .paging a:not(.bh),
html .paging #actpg{border: transparent solid 1px; display: inline-block;font-size: 13px;padding: 1px 4px;line-height: 1;margin: 0px 2px;min-height: 19px;min-width: 20px;box-sizing: border-box;vertical-align: middle;}
html .paging img[alt="|"]{display: none;}


html .bbs_bottom_btns{margin-top: 20px;}
html .rewview_title{padding: 4px;}
html #container-wrap .rewview_title_wrap{height: auto;}
html #container-wrap .rewview_title_wrap #ip_addr{ top: 6px;}

html #gal_list .title{height: 44px;}
html #gal_ctgry th,
html #gal_ctgry td{padding: 5px 0;}
html #gal_ctgry td span{font-family: serif;}

html #read_notice{ width: 18px; height: 18px; margin-left: 10px; margin-top: -3px;}

html #cmtinput_ct{margin-top: 20px; border: 1px solid transparent;}
html #next_prev_art{margin-top: 20px;border: transparent solid 1px;border-width: 1px 1px 0px 1px;}
html #next_prev_art dl{height: auto;border-bottom-color: transparent;}
html #next_prev_art dl dt{font-size:12px}
html #next_prev_art dl::after{content:""; clear: both; display: table;}
html #next_prev_art dl:last-child{border-bottom-width: 0;}

html #slrch #explain p{ padding: 0px; }



#section2 div[style="margin-bottom: 5px;"]{display: none !important;}